.simple-input-method {
  background: #fff;
  border: solid 1px #ececec;
  font-family: "Arial";
  display: none;
  border-radius: 4px;
  z-index: 999;
}
.simple-input-method .pinyin {
  font-weight: bold;
  height: 22px;
  padding: 0 14px;
}
.simple-input-method .result {
  box-sizing: border-box;
  font-size: 20px;
  overflow-x: auto;
}

.simple-input-method .result::-webkit-scrollbar {
  display: none;
}

.simple-input-method .result ul {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  height: 40px;
  padding: 0 8px;
}

.simple-input-method .result ul li {
  float: left;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 20px;
}

.simple-input-method .result ul li:first-child {
  color: red;
}
.simple-input-method .result ul li:last-child {
  margin-right: 0px;
}

.simple-input-method .page-up-down span.disable {
  opacity: 0.3;
}

.hg-theme-default .hg-button {
  height: 50px;
  font-size: 18px;
}

.hg-theme-default .hg-button.myCustomClass {
  background-color: #d3d3d3;
  flex: 1;
  font-size: 14px;
}

.hg-theme-default .hg-button.myCustomPlaceholder {
  pointer-events: none;
  width: 0px;
  padding: 0 !important;
  opacity: 0;
  flex: 1;
}

.hg-theme-default .hg-button.myCustomEnter {
  color: #fff;
  background-color: #ff782a;
  font-size: 14px;
  flex: 1;
}

.hg-theme-default .hg-row {
  justify-content: center;
}

.hg-theme-default .hg-button {
  flex-grow: 0;
  width: 9.5% !important;
}

.hg-theme-default .hg-button.myCustomSpace {
  width: 15% !important;
  background: url(./img/icon-space.png) no-repeat bottom/32px;
  background-color: #fff;
}

.hg-theme-default .hg-row .hg-button-container,
.hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}
